<%- include('partials/header') -%>
<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link text-white border border-white rounded bg-success" href="/feed">All Herbs</a>
  <a class="nav-item nav-link text-white border border-white rounded bg-success" href="/profile">Profile</a>
  <a class="nav-item nav-link text-white border border-white rounded bg-success" href="/logout">Logout</a>
</nav>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
          </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>