

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
    height: 100px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.container img {
    width: 100%;
}

.footImg {
    background-image: url('/imgs/bottom.png');
    background-repeat: repeat-x;
    background-size: contain;
}

h5.link-success {
    text-decoration: none;
}