

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer{
    margin-top: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.container img {
    width: 100%;
}

a {
    color: green;
}

a:hover {
    color: #6F9940;
}

.btn-primary {
    background-color: green;
    border-color: green;
}

.btn-primary:hover {
    background-color: #6F9940;
    border-color: #6F9940;
}

#footImg {
    background-image: url("../imgs/bottom.png");
    background-size: contain;
    background-repeat: repeat-x;
    height: 100px;
    width: 100%;
}